@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* Buttons */
/* End Buttons */
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* Buttons */
/* End Buttons */
.custom-button:active::after,
.custom-button:hover::after {
    width: 100%;
    z-index: -1;
}

.custom-button::after {
    background: #FFFFFF none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    width: 0;
    z-index: 3;
}

.custom-button:hover {
    color: #929292 !important;
}

.custom-button:active,
.custom-button:hover {
    z-index: 200 !important;
}

.custom-button {
    background: #929292 none repeat scroll 0 0;
    border-radius: 39px;
    color: #FFFFFF;
    outline: 0 none;
    position: relative;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border: 2px solid #929292;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    z-index: 2;
    font-weight: bold;
}

.small-button {
    padding: 10px 35px !important;
}

.medium-button {
    padding: 1% 5%;
}

@media (min-width: 960px) {
    .medium-button {
        padding: 15px 55px !important;
    }
}

/* .round-small-button {
    background-color: $btn-primary-color!important;
    color: $btn-secondary-color!important;  
    &:hover {
        border:2px solid $btn-primary-color;
    }
} */
.button-colors-inverted {
    background-color: #FFFFFF;
    border: 2px solid #929292;
    color: #929292;
}

.button-colors-inverted:hover {
    color: #FFFFFF !important;
    border: 2px solid transparent;
}

.button-colors-inverted.custom-button::after {
    background: #929292 none repeat scroll 0 0 !important;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeueLTPro-Bd.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "maker";
    src: url("../fonts/maker.eot");
    src: url("../fonts/maker.eot?#iefix") format("embedded-opentype"), url("../fonts/maker.woff") format("woff"), url("../fonts/maker.ttf") format("truetype"), url("../fonts/maker.svg#maker") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "maker" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "maker" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-paper-airplane:before {
    content: "\61";
}

.icon-time-passing:before {
    content: "\62";
}

.icon-web-design:before {
    content: "\67";
}

.icon-identity-branding:before {
    content: "\64";
}

.icon-print-packaging:before {
    content: "\65";
}

.icon-content-writing:before {
    content: "\69";
}

.icon-desktop:before {
    content: "\67";
}

.icon-customize:before {
    content: "\68";
}

.icon-speech-bubble:before {
    content: "\69";
}

.icon-flask:before {
    content: "\6a";
}

.icon-right-arrow:before {
    content: "\6b";
}

.icon-left-arrow:before {
    content: "\6c";
}

/* General */
html {
    overflow-x: hidden;
}

body {
    font-family: "PT Sans", sans-serif !important;
    color: #929292 !important;
}

a {
    text-transform: uppercase;
    color: #929292;
    outline: none !important;
}

a:hover,
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover,
a:focus,
a:active {
    outline: none !important;
}

button {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3F3F3F !important;
    font-family: "Cabin", sans-serif !important;
}

/* End General */
/* NAVBAR */
header {
    padding: 0px 0px 15px;
}

.navbar-default {
    border: none !important;
    background-color: #F4F4F4 !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

/* Brand logo  */
.brand {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 35px;
    color: #9e9ba4;
    display: inline-block;
    font-family: "HelveticaNeue", "PT Sans", sans-serif;
}

.link--brand {
    overflow: hidden;
    color: #F4F4F4;
    text-transform: capitalize;
}

.link--brand:hover {
    color: #F8F8F8;
    text-decoration: none;
}

.link--brand::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #424242;
    white-space: nowrap;
    width: 7%;
    -webkit-transition: width 0.3s 0.1s;
    transition: width 0.3s 0.1s;
}

.link--brand:hover::before {
    width: 100%;
}

/* End Brand logo  */

.header-logo {
    /*display: block;*/
    /*height: 60px;*/
    /*padding-left: 75px;*/
    /*background: url(../img/logo_devproserv_excl_claim_for_dark.svg) no-repeat left;*/
    text-decoration: none;
    color: #424242;
    font-size: 35px;
    line-height: 60px;

}

.header-logo img {
    height: 60px;
    vertical-align: top;
}

.menu-link::before {
    background: #3F3F3F none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scale3d(0, 5, 1);
    transform-origin: 0 50% 0;
    transition: transform 0.3s cubic-bezier(1, 0.68, 0.16, 0.9) 0s;
    width: 100%;
}

.navbar-nav > li {
    padding: 15px 15px 0px;
}

.menu-link {
    backface-visibility: hidden;
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: translateZ(0px);
    vertical-align: middle;
    padding: 10px 0 !important;
    font-size: 13px;
    font-weight: bold;
}

.menu-link:hover::before,
.menu-link:focus::before,
.menu-link:active::before {
    transform: scale3d(1, 1, 1);
}

/* NAVBAR END */
.main-content {
    max-width: 1200px;
}

/* Carousel  */
section.carousel {
    background-color: #F4F4F4;
}

ol.carousel-indicators .active {
    background-color: #a9a9a9;
    margin: 0 10px;
    /*margin: 10px 0px !important; */
}

ol.carousel-indicators {
    bottom: -50px;
    /*background: transparent none repeat scroll 0 0;*/
    /*list-style: outside none none;*/
    /*padding-left: 0;*/
    /*position: absolute;*/
    /*!*top: 40%;*!*/
    /*z-index: 15;*/
    /*margin-left: 0px !important;*/
    /*text-align: center;*/
    /*width: 10px !important;*/
    /*left: unset !important;*/
    /*right: 3% !important;*/
}

ol.carousel-indicators li {
    /*border-radius: 10px;*/
    margin: 0 10px;
    cursor: pointer;
    /*display: inline-block !important;*/
    /*text-indent: -999px;*/
    border: transparent;
    /*width: 5px !important;*/
    /*height: 5px !important;*/
    background-color: #c3c3c3;
    /*margin: 15px 0px 15px 2px !important;*/
}

.carousel-caption {
    position: relative;
    color: inherit !important;
    text-shadow: none !important;
    /*padding: 115px 15px !important;*/
    bottom: 0px !important;
}

/*.carousel-caption:nth-child(0){*/
/*background: url(../img/java-developer.jpg) no-repeat center;*/
/*}*/

/* .carousel-inner {
    padding: 150px 0px;
}

 */
/* #carousel-example-generic {
    & .carousel-inner > .next {
        position: relative !important;

    }
    & .carousel-inner > .prev {
        position: relative !important;
    }
} */
.slide-title {
    font-weight: bold;
    margin: 0px 0px 30px;
    text-shadow: 1px 1px 1px #ffffff,
    3px 3px 5px #eeeaff;
}

.slide-content {
    /*     font-size: 20px;
   */
    text-shadow: 1px 1px 1px #ffffff,
    3px 3px 5px #000000;
    color: #fff;
    margin: 0 auto 6%;
    max-width: 660px;
}

/* End Carousel */
/* Services */
.services {
    text-align: center;
    padding: 75px 15%;
}

.services .services-description-caption {
    margin-bottom: 45px;
}

.services .service-description {
    margin: 0px !important;
}

/* End Services */
/* Projects  */
.projects .row:nth-child(even) .project-description-wrapper {
    padding: 0 8% 0 12% !important;
}

.projects .row {
    margin-bottom: 45px;
}

.projects .row .project-hero-img-wrapper {
    margin-bottom: 30px;
}

.projects .row .project-hero-img-wrapper .project-hero-img {
    border-radius: 3px;
}

.projects .row .project-description-wrapper {
    padding: 0 13% 0 9%;
    /* & .project-description:not(:last-child) {
                margin-bottom: 30px;
            } */
}

.projects .row .project-description-wrapper .project-heading {
    width: 90%;
}

.projects .row .project-description-wrapper .project-link {
    color: #3F3F3F;
    text-transform: capitalize;
    font-size: 17px;
}

.projects .row .project-description-wrapper .project-link:hover {
    text-decoration: none;
}

.projects .row .project-description-wrapper .project-link:hover + .arrow-right {
    transform: rotate(180deg);
}

.projects .row .project-description-wrapper .arrow-right {
    transition: all 1s;
    display: inline-block !important;
    margin: 0 10px;
    font-size: 22px;
    vertical-align: middle;
}

/* End Projects */
/* Features */
.features {
    text-align: center;
    padding: 75px 15% 45px;
    background-color: #F4F4F4;

}

.features .features-description {
    margin-bottom: 45px;
}

.features .feature-title {
    margin-bottom: 30px;
}

.features .feature-description {
    margin-bottom: 45px;
}

.feature {
    max-height: 250px;
}

/* End Features */
/* Pricing */
.pricing {
    padding: 75px 5% 0px;
    text-align: center;
}

.pricing .pricing-header {
    margin-bottom: 75px;
}

.pricing .pricing-content.row {
    max-width: 920px;
    margin: 0 auto;
}

.pricing .pricing-card:hover,
.pricing .pricing-card:focus,
.pricing .pricing-card:active {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    cursor: pointer;
}

.pricing .pricing-card {
    border: 2px solid #E8E5EF;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0px;
    max-width: 290px;
    width: 100%;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.pricing .pricing-card .card-category {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Cabin", sans-serif;
}

.pricing .pricing-card .category-price-wrapper {
    font-family: "Cabin", sans-serif;
    margin-bottom: 30px;
}

.pricing .pricing-card .category-price-wrapper .price {
    position: relative;
    font-size: 80px;
    font-weight: bold;
}

.pricing .pricing-card .category-price-wrapper .price:before {
    display: block;
    content: "$";
    position: absolute;
    top: 10%;
    left: -15%;
    font-size: 20px;
    font-weight: normal;
}

.pricing .pricing-card .category-price-wrapper .time-of-use {
    font-size: 40px;
}

.pricing .pricing-card .card-features {
    list-style: none;
    padding: 0px;
    line-height: 30px;
    font-size: 17px;
}

.pricing .pricing-card .card-features span {
    color: #3F3F3F;
    font-weight: bold;
}

.pricing .pricing-card .buy-category {
    font-size: 13px;
}

/* End Pricing */
.newsletter {
    padding: 75px 0px;
    text-align: center;
}

.newsletter .newsletter-header {
    margin-bottom: 65px;
}

.newsletter .newsletter-header .newsletter-description {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.newsletter .input-group {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    position: relative;
}

.newsletter .input-group .form-control {
    border: 1px solid #d4d4d4;
    border-radius: 3px !important;
    color: #3F3F3F;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    padding: 6px 20px !important;
    height: 50px;
    margin-bottom: 20px;
}

.newsletter .input-group textarea.form-control {
    height: auto;
}

.newsletter .input-group .form-control::-webkit-input-placeholder {
    color: #3F3F3F;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}

.newsletter .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #3F3F3F;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}

.newsletter .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #3F3F3F;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}

.newsletter .input-group .form-control:-ms-input-placeholder {
    color: #3F3F3F;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}

.newsletter .input-group .input-group-btn {
    /*position: absolute;*/
    /*right: 5px;*/
    /*top: 6px;*/
    /*height: 45px !important;*/
    /*width: 45px !important; */
}

.newsletter .input-group .input-group-btn button {
    border-radius: 100%;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    z-index: 100;
}

/* Footer */
footer {
    background-color: #3F3F3F;
    padding: 75px 5% 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

footer .container-fluid {
    padding: 0px;
}

.footer-logo {
    height: 100px;
}

footer .container-fluid .brand {
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 0px;
    margin-bottom: 15px;
}

footer .container-fluid .brand:hover {
    text-decoration: none;
    color: #FFFFFF;
}

footer .container-fluid hr {
    margin: 45px 0px;
    border-color: #525252;
}

footer .container-fluid .footer-links {
    padding-left: 0px;
    margin-bottom: 10px;
}

footer .container-fluid .footer-links .footer-menu-link {
    padding: 0px 20px 0px 0px;
    font-size: 17px;
    color: #FFFFFF;
    text-transform: capitalize;
}

footer .container-fluid .footer-links .footer-menu-link:hover {
    color: #FFFFFF;
}

footer .container-fluid .footer-social-links {
    text-align: left;
    padding: 0px;
}

footer .container-fluid .footer-social-links .social-icon:last-child {
    margin-right: 0px;
}

footer .container-fluid .footer-social-links .social-icon {
    margin: 0px 20px 0px 0px;
    font-size: 20px;
    color: #929292;
}

footer .container-fluid .footer-social-links .social-icon:hover {
    text-decoration: none;
    color: #FFFFFF;
}

footer .container-fluid .copyright {
    padding-left: 0px;
    margin-top: 25px;
    margin-bottom: 65px;
}

.service-logo,
.feature-logo {
    font-size: 40px !important;
}

.navbar-toggle {
    margin-top: 20px !important;
    margin-right: 0px !important;
}

/* End Footer */
@media (min-width: 320px) {
    /* Styles */
    .navbar-default {
        padding: 0px 5%;
        /* 195px; */
    }
}

@media (min-width: 760px) {
    /* Styles */
    .navbar-default {
        padding: 0px 5%;
        /* 195px; */
    }

    .projects .row {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .projects .row .project-hero-img-wrapper {
        margin-bottom: 0px !important;
        display: inline-flex !important;
        flex-direction: row-reverse !important;
    }

    .projects .row:nth-child(even) {
        flex-direction: row-reverse;
    }
}

@media (min-width: 960px) {
    /* Styles */
    .navbar-default {
        padding: 10px 7% !important;
        /* 195px; */
    }

    h1 {
        font-size: 50px !important;
    }

    h3 {
        font-size: 35px !important;
        margin: 0px 0px 30px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    p {
        font-size: 17px;
        line-height: 27px;
    }

    .slide-content {
        font-size: 20px;
    }

    .services-description-caption {
        font-size: 20px;
        margin-bottom: 115px !important;
    }

    .service-logo {
        font-size: 65px !important;
    }

    .feature-logo {
        font-size: 50px !important;
    }

    .features {
        text-align: center;
        /*padding: 150px 15% 50px;*/
        background-color: #F4F4F4;
    }

    .services {
        padding: 150px 15% !important;
    }

    .projects .row {
        margin-bottom: 115px !important;
    }

    .features-description {
        margin-bottom: 115px !important;
    }

    .feature-description {
        margin-bottom: 60px !important;
    }

    .pricing {
        padding: 150px 5% 0px !important;
    }

    .pricing .pricing-header {
        margin-bottom: 115px !important;
    }

    .newsletter {
        padding: 150px 0px !important;
        text-align: center;
    }

    .newsletter-description {
        width: 40%;
    }

    .input-group {
        width: 50%;
    }

    .footer-social-links {
        text-align: right !important;
    }

    footer {
        padding: 50px 15% 0 !important;
    }

    footer hr {
        margin: 65px 0px;
    }

    /*.pricing {*/
    /*padding: 150px 15% 0px !important; }*/
    .carousel-caption {
        /*padding: 150px 15px !important;*/
    }
}

@media (min-width: 1330px) {
    .pricing-card {
        margin-right: 20px !important;
    }

    .pricing-card:last-child {
        margin-right: 0px !important;
    }

    .projects .row:nth-child(2) {
        width: 100%;
        margin-left: 10px;
        margin-right: 0px !important;
    }

    .projects .row:nth-child(2) .project-hero-img-wrapper {
        display: inline-flex;
        justify-content: end !important;
        -webkit-justify-content: end;
        flex-direction: row-reverse;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 960px) {
    /* Styles */
    .service:not(:last-child) {
        margin-bottom: 30px;
    }

    .project-hero-img {
        width: 100%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media (max-width: 767px) {
    .nav > li {
        margin: 0 auto;
        text-align: center;
        width: 30%;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    /*  -webkit-box-shadow: inset 0 0 6px $primary-color;
      background-color:$bg-primary-color; */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
   */
    background-color: transparent;
}

.left {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.right {
    margin-left: auto;
}

.verticalize-container::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}

.verticalize {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
